.gifs-wrapper__gif {
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  position: relative;
  height: fit-content;
  overflow: hidden;
}
.gifs-wrapper__gif__link {
  display: flex;
}
.gifs-wrapper__gif__img {
  cursor: pointer;
  width: 100%;
  min-height: 100px;
}
.gifs-wrapper__gif__title {
  font-size: 0.8rem;
  font-weight: 800;
  color: black;
  text-align: start;
  position: absolute;
  padding: 6px 6px 0px 0px;
  margin: 0;
  bottom: 0px;
  opacity: 0;
}
.gifs-wrapper__gif:hover .gifs-wrapper__gif__title {
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .gifs-wrapper__gif {
    box-shadow: none !important;
  }
  .gifs-wrapper__gif__title {
    padding: 0 4px;
    opacity: 1;
    color: white;
    background: rgba(0, 0, 0, 0.6) !important;
  }
  .gifs-wrapper__gif__title {
    font-size: 0.6rem;
  }
}
