.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch__input {
  display: none;
}

.switch__slider {
  background: var(--white-background);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch__slider:before {
  background: var(--dark-main);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  z-index: 1;
}

.switch__input:checked + .switch__slider {
  background: var(--dark-gray);
}

.switch__input:checked + .switch__slider:before {
  background: var(--white-dimmed);
  transform: translateX(26px);
}

.switch__slider--round {
  border-radius: 34px;
}

.switch__slider--round:before {
  border-radius: 50%;
}
.switch__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  top: 8px;
}
.switch__icon__moon {
  left: 8px;
  color: var(--white-dimmed);
}

.switch__icon__sun {
  left: 34px;
  color: var(--dark-main);
}

.switch__icon--visible {
  opacity: 1;
}
