.trends-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
}
.trends-wrapper__label {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 0.4rem;
  font-weight: 600;
  transition: transform 0.2s ease;
}
.trends-wrapper__label:hover {
  transform: scale(1.2);
}
