.alert-container {
  z-index: 101;
  position: fixed;
  width: 100%;
  padding: 0rem 2rem;
  box-sizing: border-box;
  display: flex;
  bottom: 2rem;
}

.alert {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  opacity: 1;
  font-size: 1.2rem;
  font-weight: bold;
  backdrop-filter: blur(1rem);
}
.alert--error {
  background: rgba(100, 0, 0, 0.8);
  color: rgba(256, 100, 100, 1);
  animation: alert-animation 5.1s ease;
  margin: 0 0 0 auto;
}
.alert--success {
  background: rgba(0, 100, 0, 0.8);
  color: rgba(100, 256, 100, 1);
  animation: alert-animation 5.1s ease;
}
@keyframes alert-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
