.drawer-toggle-observer.true {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 98;
}
.drawer-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.3s ease;
  background-color: var(--dark-main);
  box-sizing: border-box;
  z-index: 99;
  top: 0;
  left: 110%;
  width: 70%;
  height: 120%;
  padding: 1rem;
  box-shadow: 0px 0px 5px gray;
}
.menu-icon,
.drawer-icon {
  cursor: pointer;
  height: 48px;
  color: #d7e1ec;
}
.drawer-menu.true {
  left: 30%;
}
.drawer-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.drawer-menu__auth {
  display: flex;
  font-weight: bold;
  text-align: end;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
  .drawer-menu {
    width: 100%;
  }
  .drawer-menu.true {
    left: 0;
  }
  #lazytrend {
    max-width: 100%;
  }
  .drawer-menu__auth {
    gap: 0rem;
    justify-content: space-between;
    width: 80%;
  }
}
