.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  box-sizing: border-box;
  max-height: 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-main);
  z-index: 98;
  top: 0;
}
.header__logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  background: var(--white-background);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.header__div {
  display: flex;
  width: 33%;
  height: 3rem;
  align-items: center;
}
.header__div--1 {
  justify-content: flex-start;
}
.header__div--3 {
  justify-content: flex-end;
}

.header__auth,
.drawer-menu__auth {
  display: flex;
  font-weight: bold;
  text-align: end;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.drawer {
  height: 100%;
  display: none;
}
@media screen and (max-width: 960px) {
  .header__auth .switch {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .header {
    flex-wrap: wrap;
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem 0rem;
    font-size: 1rem;
    max-height: none;
  }
  .header__div--2 {
    order: 1;
    width: 100%;
  }
  .header__auth {
    display: none;
  }
  .drawer {
    display: block;
  }
}
