.Gif {
  box-sizing: border-box;
  overflow: hidden;
  width: 300px;
  border-radius: 1rem;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: black;
  box-shadow: 0.5rem 0.5rem 0rem black;
  font-size: 1rem;
}
.Gif img {
  cursor: pointer;
  width: 100%;
}
.Gif div h1 {
  margin: 0rem;
  margin-bottom: 1rem;
}
.Gif div {
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  bottom: 0;
}
