.Gif {
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  position: relative;
  height: fit-content;
  transition: all 0.2s ease;
  overflow: hidden;
}
.Gif > a {
  display: flex;
}
.Gif img {
  cursor: pointer;
  width: 100%;
  min-height: 100px;
}
.Gif p {
  font-size: 0.8rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: start;
  position: absolute;
  padding: 0px 4px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.Gif:hover p {
  opacity: 1;
}
@media screen and (max-width: 45rem) {
  .Gif img {
    min-height: 80px;
    max-height: 120px;
  }
  .Gif p {
    visibility: visible;
    opacity: 1;
  }
  .Gif p {
    font-size: 0.6rem;
  }
}
