.gif-detail-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: center;
}
.gif-detail-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  width: 30%;
  box-sizing: border-box;
  background: var(--white-background);
  color: black;
}
.gif-detail-player {
  max-width: 70%;
  max-height: calc(100vh - 11rem);
  position: relative;
}
.gif-detail-player > video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.gif-detail-player > button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  background: rgba(256, 256, 256, 0.6);
  border: none;
  border-radius: 0.5rem;
}
.fullscreen-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--dark-main);
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.fullscreen-icon-visible {
  opacity: 1;
}
.gif-detail-container h1,
p {
  margin: 0px;
}
.gif-detail-container a {
  color: black;
}
@media screen and (max-width: 960px) {
  .gif-detail-container {
    flex-direction: column;
  }
  .gif-detail-info {
    min-height: 150px;
    width: 100%;
  }
  .gif-detail-player {
    max-width: 100%;
    min-height: 150px;
    max-height: 100%;
  }
}
@media all and (display-mode: fullscreen) {
  .gif-detail-player > video {
    object-fit: contain;
  }
  .gif-detail-player > button {
    width: 60px;
    height: 60px;
    top: 3rem;
    right: 3rem;
  }
}
