.gif-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: center;
  height: auto;
}
.gif-detail div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  width: 30%;
  box-sizing: border-box;
  background: var(--white-background);
  color: black;
}
.gif-detail h1,
p {
  margin: 0px;
}
.gif-detail a {
  color: black;
}
@media screen and (max-width: 45rem) {
  .gif-detail {
    flex-direction: column;
  }
  .gif-detail div,
  img {
    width: 100%;
  }
}
