.gifs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  /* grid-template-rows: masonry; */
  grid-auto-rows: 210px;
  grid-auto-flow: row dense;
}

@media screen and (max-width: 45rem) {
  .gifs-container {
    grid-template-columns: 1fr 1fr;
  }
}
