.header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  box-sizing: border-box;
  max-height: 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 600;
  font-size: 3rem;
  background: -webkit-linear-gradient(#ffffff, #d7e1ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header > div,
.header > a {
  display: flex;
  width: 33%;
  height: 3rem;
  align-items: center;
}
.header div:nth-child(1) {
  justify-content: flex-start;
}
.header div:nth-child(3) {
  font-weight: bold;
  justify-content: flex-end;
  background: -webkit-linear-gradient(#ffffff, #d7e1ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
  gap: 2rem;
}
@media screen and (max-width: 45rem) {
  .header {
    padding: 1rem 2rem;
    gap: 1rem;
  }
  .header > div:nth-child(1) {
    display: none;
  }
  .header > div:nth-child(2),
  .header > div:nth-child(3) {
    width: auto;
  }
  .header > div:nth-child(3) {
    gap: 0rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header {
    font-size: 1rem;
  }
}
