.header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  box-sizing: border-box;
  height: 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Product Sans Black", sans-serif;
  font-size: 3rem;
  background: -webkit-linear-gradient(#ffffff, #d7e1ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header > div,
.header > a {
  display: flex;
  width: 33%;
}
.header div:nth-child(1) {
  justify-content: flex-start;
}
.header div:nth-child(3) {
  font-weight: bold;
  justify-content: flex-end;
  background: -webkit-linear-gradient(#ffffff, #d7e1ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 45rem) {
  .header div:nth-child(3) {
    display: none;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 2rem;
  }
  .header > div:nth-child(1),
  .header > div:nth-child(2) {
    width: 50%;
  }
}
