.home-nav {
  width: 84%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: black;
  box-shadow: 0.5rem 0.5rem 0rem black;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
