.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.list-of-gifs {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  gap: 2rem;
}
.list-of-gifs > h2 {
  font-size: 1.4rem;
  font-weight: 900;
  text-align: start;
  margin: 0px;
  background: -webkit-linear-gradient(#ffffff, #d7e1ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 45rem) {
  .main > #lazytrend {
    display: none;
  }
  .main {
    flex-direction: column;
    padding: 1rem;
  }
  .list-of-gifs > h2 {
    font-size: 1.2rem;
  }
  .list-of-gifs {
    gap: 0.2rem;
    width: 100%;
  }
}
