.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  height: 7rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: black;
}
input,
.link-button,
form {
  font-weight: 700;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  height: 2rem;
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  text-align: center;
}
.link-button {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-left: 1px solid gray;
}
input {
  outline: none;
  font-family: inherit;
  width: 60%;
  height: 100%;
  background: none;
}
input:focus::placeholder {
  color: transparent;
}
form {
  height: 3rem;
  width: 400px;
  overflow: hidden;
  display: flex;
  background: var(--white-gradient-background);
}
