.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  color: black;
}
input,
.link-button,
form {
  font-weight: 600;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
  height: 2rem;
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  text-align: center;
}
.link-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-left: 1px solid gray;
}
input {
  outline: none;
  font-family: inherit;
  width: 70%;
  height: 100%;
  background: none;
  padding-left: 0rem 1rem;
  box-sizing: border-box;
  text-align: start;
  padding-left: 1rem;
}
input:focus::placeholder {
  color: transparent;
}
form {
  height: 3rem;
  width: 400px;
  overflow: hidden;
  display: flex;
  background: var(--white-gradient-background);
}
@media screen and (max-width: 45rem) {
  .link-button {
    display: none;
  }
  form {
    width: 100%;
  }
  input {
    width: 100%;
    font-size: 1rem;
  }
}
