.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--white-dimmed);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background: var(--dark-main);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  z-index: 1;
}

input:checked + .slider {
  background-color: var(--dark-gray);
}

input:checked + .slider:before {
  background: var(--white-dimmed);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  top: 8px;
}
.switch-moon {
  left: 8px;
  color: var(--white-dimmed);
}

.switch-sun {
  left: 34px;
  color: var(--dark-main);
}

.switch-icon-visible {
  opacity: 1;
}
