.app {
  text-align: center;
  background-color: var(--dark-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 7rem;
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .app {
    padding-top: 9rem;
  }
}

.app--lightmode {
  background: var(--white-dimmed) !important;
}
.app--lightmode .gifs-container__h2,
.app--lightmode .trends-container__h2,
.app--lightmode .header__logo,
.app--lightmode .header__auth__login,
.app--lightmode .header__auth__register {
  background: var(--dark-gray) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.app--lightmode .search-bar__form {
  background: var(--dark-gray) !important;
}
.app--lightmode .details-container__info {
  background: var(--dark-gray) !important;
}
.app--lightmode .details-container__info__h2,
.app--lightmode .details-container__info__a,
.app--lightmode .details-container__info__p {
  color: var(--white-dimmed) !important;
}
.app--lightmode .header {
  background: var(--white-dimmed);
}
.app--lightmode .search-bar__form,
.app--lightmode .search-bar__button,
.app--lightmode .search-bar__input {
  color: var(--white-dimmed) !important;
}
.app--lightmode .search-bar__input::placeholder {
  color: lightgray;
}
.app--lightmode .drawer-menu {
  background: var(--white-dimmed) !important;
}
.app--lightmode .menu-icon,
.app--lightmode .drawer-icon {
  color: var(--dark-gray) !important;
}
.app--lightmode .loader .fulfilling-square-spinner {
  border: 4px solid var(--dark-gray);
}
