.App {
  text-align: center;
  transition: all 0.5s ease;
}

.App-content {
  background-color: var(--dark-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dark-false h2,
.dark-false .logo,
.dark-false .login,
.dark-false .register {
  background: var(--dark-gray) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.dark-false .App-content {
  background: #f8f8f8 !important;
}
.dark-false .search-bar form {
  background: var(--dark-gray) !important;
}
.dark-false .gif-detail div {
  background: var(--dark-gray) !important;
}
.dark-false .gif-detail h1,
.dark-false .gif-detail a,
.dark-false .gif-detail p {
  color: #f8f8f8 !important;
}
.dark-false .link-button,
.dark-false .search-bar form input {
  color: #f8f8f8 !important;
}
.dark-false .search-bar form input::placeholder {
  color: lightgray;
}
.dark-false .loader .fulfilling-square-spinner {
  border: 4px solid var(--dark-gray);
}
.dark-false .drawer-menu {
  background: #f8f8f8 !important;
}
.dark-false .menu-icon,
.dark-false .drawer-icon {
  color: var(--dark-gray) !important;
}
.App * {
  transition: all 0.3s ease !important;
}
