.App {
  text-align: center;
  transition: all 0.5s ease;
}

.App-content {
  background-color: var(--dark-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 7rem;
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 720px) {
  .App-content {
    padding-top: 9rem;
  }
}

.light-mode h2,
.light-mode .logo,
.light-mode .login,
.light-mode .register {
  background: var(--dark-gray) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.light-mode .App-content {
  background: var(--white-dimmed) !important;
}
.light-mode .search-bar form {
  background: var(--dark-gray) !important;
}
.light-mode .gif-detail div {
  background: var(--dark-gray) !important;
}
.light-mode .gif-detail h1,
.light-mode .gif-detail a,
.light-mode .gif-detail p {
  color: var(--white-dimmed) !important;
}
.light-mode .header {
  background: var(--white-dimmed);
}
.light-mode .link-button,
.light-mode .search-bar form input {
  color: var(--white-dimmed) !important;
}
.light-mode .search-bar form input::placeholder {
  color: lightgray;
}
.light-mode .loader .fulfilling-square-spinner {
  border: 4px solid var(--dark-gray);
}
.light-mode .drawer-menu {
  background: var(--white-dimmed) !important;
}
.light-mode .menu-icon,
.light-mode .drawer-icon {
  color: var(--dark-gray) !important;
}
.App * {
  transition: all 0.3s ease !important;
}
