body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white-dimmed: #f8f8f8;
  --white-background: linear-gradient(30deg, #eeeff0 0%, #d7e1ec 75%);
  --dark-gray: hsl(210, 7.9%, 14.9%);
  --dark-main: #121113;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (min-width: 720px) {
  body {
    overflow: visible !important;
  }
}
