.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  color: black;
}
.search-bar__input,
.search-bar__button {
  font-weight: 600;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  text-align: center;
}
.search-bar__input {
  outline: none;
  font-family: inherit;
  width: 70%;
  height: 100%;
  background: none;
  padding-left: 0rem 1rem;
  box-sizing: border-box;
  text-align: start;
  padding-left: 1rem;
  border-right: 1px solid gray;
}
.search-bar__button {
  font-family: inherit;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-right: 1px solid gray;
  background: transparent;
}
.search-bar__select {
  display: flex;
  justify-content: center;
  width: 4rem;
  font-weight: bold;
  font-family: inherit;
  background: transparent;
  text-align-last: center;
  margin: 0;
  border: none;
}
.search-bar__input:focus::placeholder {
  color: transparent;
}
.search-bar__form {
  height: 3rem;
  width: 400px;
  overflow: hidden;
  display: flex;
  background: var(--white-background);
}
@media screen and (max-width: 960px) {
  .search-bar__button {
    display: none;
  }
  .search-bar__form {
    width: 100%;
  }
  .search-bar__input {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .search-bar__input {
    width: 100%;
    font-size: 1rem;
  }
}
